@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Age Calculator</h1>

    <p>Today's date is @Model.TodayDate.ToLongDateString()</p>

    @if (Model.Person.Age != null)
    {
        <div class="alert alert-primary" >
            <h4>Hello @Model.Person.Name! Today you are @Model.Person.Age years old</h4>
        </div>
    }
</div>

<h2>User Info</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Enter your name</label>
        <input type="text" id="name" class="form-control" asp-for="Person.Name" required />
    </div>

    <div class="mb-3">
        <label class="form-label" for="birthDate">Enter your birthday</label>
        <input type="date" id="birthDate" class="form-control" asp-for="Person.BirthDate" required />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Calculate Age</button>
    </div>
</form>



