@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Age Calculator</h1>

<p>Today's date is @Model.TodayDate.ToLongDateString()</p>

<form method="post">
    <label>Enter your birthday</label>
    <input type="date" id="birthdate" asp-for="BirthDate" required />
    <button type="submit">Calculate Age</button>
</form>

@if (Model.Age != null)
{
    <h4>Your age is @Model.Age years</h4>
}

